In [2]:
import seaborn as sns
import pandas as pd

In [11]:

df = pd.read_csv('datasets/customer.csv')

In [20]:
df.shape

(847, 15)

In [18]:
df.size

12705

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847 entries, 0 to 846
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    847 non-null    int64
 1   NameStyle     847 non-null    bool
 2   Title         840 non-null    object
 3   FirstName     847 non-null    object
 4   MiddleName    504 non-null    object
 5   LastName      847 non-null    object
 6   Suffix        48 non-null     object
 7   CompanyName   847 non-null    object
 8   SalesPerson   847 non-null    object
 9   EmailAddress  847 non-null    object
 10  Phone         847 non-null    object
 11  PasswordHash  847 non-null    object
 12  PasswordSalt  847 non-null    object
 13  rowguid       847 non-null    object
 14  ModifiedDate  847 non-null    object
dtypes: bool(1), int64(1), object(13)
memory usage: 93.6+ KB

In [25]:
df.describe()

         CustomerID
count    847.000000
mean   14503.217237
std    14729.700946
min        1.000000
25%      330.500000
50%      672.000000
75%    29798.000000
max    30118.000000

In [26]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
842    False
843    False
844    False
845    False
846    False
Length: 847, dtype: bool

In [27]:
df.sample(10)

,CustomerID,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,CompanyName,SalesPerson,EmailAddress,Phone,PasswordHash,PasswordSalt,rowguid,ModifiedDate
405,644,False,Mr.,Gregory,T.,Vanderbout,Jr.,Convenient Sales and Service,adventure-works\pamela0,gregory1@adventure-works.com,684-555-0134,syI1UO2qeBH9g2tg2nu3DTejZc7OEShGw8jxOqXfATY=,FAw6ojc=,{9CCD22E6-5ACF-4378-BA69-1FE722239354},2006-09-01 00:00:00
728,29935,False,Ms.,Elsa,NaN,Leavitt,NaN,Frugal Bike Shop,adventure-works\shu0,elsa0@adventure-works.com,482-555-0174,BmJaM+147GrhU00kNTtaTolp0EJcarJK/SCfew4ZiYA=,YADhpPo=,{70394DAC-8CBD-4C81-8A27-B1F8B5C041E8},2006-08-01 00:00:00
138,219,False,Mr.,Brian,NaN,Johnson,NaN,Extras Sporting Goods,adventure-works\jillian0,brian6@adventure-works.com,320-555-0134,TGnRB6vDbV0LZss8tA9iu637/34mcJWkD0Ux4xaza/k=,2t9hMlk=,{D39CCCE3-C4A6-441D-8A3C-96507627746D},2007-03-01 00:00:00
193,306,False,Mr.,Stephen,M.,Ayers,NaN,Work and Play Association,adventure-works\michael9,stephen1@adventure-works.com,818-555-0171,m79YsPy3BDp4/SUQsvNcbTQuyZxUGV9TuBeHcAHjZCk=,F0hRcQ8=,{F8F2835D-F5F0-4070-8465-46BFC815153B},2006-09-01 00:00:00
63,100,False,Mr.,Kirk,T,King,NaN,Up-To-Date Sports,adventure-works\josé1,kirk2@adventure-works.com,979-555-0163,056V7iOc8FPUiLanlyEqQX6cAWuL0TJ8fQBhX7mEjMU=,b96sfSU=,{E789F6DD-3159-4DDC-81A8-8571C571656E},2007-08-01 00:00:00
57,92,False,Ms.,Jovita,A.,Carmody,NaN,Sports Commodities,adventure-works\david8,jovita0@adventure-works.com,646-555-0137,d3uGruCihzt7+Dipsh3+fE3iZd/uKCf8sy56xa5chxU=,zmqmiAQ=,{672412C3-5D5D-488B-B176-E3DAFAD05D70},2005-09-01 00:00:00
712,29914,False,Mr.,Christian,NaN,Kleinerman,NaN,Finish and Sealant Products,adventure-works\shu0,christian1@adventure-works.com,362-555-0177,v9tjo4izinAmIevwhur1w9F/Wj0yCIj1eXG0q2dFc1s=,7uZHIds=,{A4ED5B4F-19A2-4C26-A323-E952A84E6DD7},2005-09-01 00:00:00
463,29527,False,Mr.,Robert,A.,Avalos,NaN,Workout Emporium,adventure-works\josé1,robert2@adventure-works.com,665-555-0198,V09BZHvbhAXD4fluXDexe9/89mGNsFPrGa/5NMiJBRU=,3lDpoDs=,{36702D8C-0756-4B16-B0DA-8C97103D8B90},2007-09-01 00:00:00
76,120,False,Mr.,Pat,NaN,Coleman,NaN,Machines & Cycles Store,adventure-works\garrett1,pat2@adventure-works.com,292-555-0128,61UcbVZnGT5eqxs0oFMv4JyipeaQCUZgUZkPgtVNBDo=,7+I+4k4=,{25863C18-4C9A-4BC9-BE0D-95F4CF67BF7D},2007-07-01 00:00:00
145,228,False,Ms.,Danielle,B.,Johnson,NaN,Home Town Bike Store,adventure-works\garrett1,danielle1@adventure-works.com,356-555-0190,b0w+/GVSsenvVoXksIyrBh+BGRKEIsId9aOsMDCOZi8=,W1IKTDo=,{C751DD7E-51D9-4D2D-AEED-C818EEE56CEB},2007-09-01 00:00:00

In [28]:
df.columns

Index(['CustomerID', 'NameStyle', 'Title', 'FirstName', 'MiddleName',
       'LastName', 'Suffix', 'CompanyName', 'SalesPerson', 'EmailAddress',
       'Phone', 'PasswordHash', 'PasswordSalt', 'rowguid', 'ModifiedDate'],
      dtype='object')

In [30]:
df['NameStyle'].unique()

array([False])

In [31]:
df.drop('NameStyle', axis=1, inplace=True)

In [32]:
df.columns

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'CompanyName', 'SalesPerson', 'EmailAddress', 'Phone', 'PasswordHash',
       'PasswordSalt', 'rowguid', 'ModifiedDate'],
      dtype='object')

In [33]:
df.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,CompanyName,SalesPerson,EmailAddress,Phone,PasswordHash,PasswordSalt,rowguid,ModifiedDate
0,1,Mr.,Orlando,N.,Gee,NaN,A Bike Store,adventure-works\pamela0,orlando0@adventure-works.com,245-555-0173,L/Rlwxzp4w7RWmEgXX+/A7cXaePEPcp+KwQhl2fJL7w=,1KjXYs4=,{3F5AE95E-B87D-4AED-95B4-C3797AFCB74F},2005-08-01 00:00:00
1,2,Mr.,Keith,NaN,Harris,NaN,Progressive Sports,adventure-works\david8,keith0@adventure-works.com,170-555-0127,YPdtRdvqeAhj6wyxEsFdshBDNXxkCXn+CRgbvJItknw=,fs1ZGhY=,{E552F657-A9AF-4A7D-A645-C429D6E02491},2006-08-01 00:00:00
2,3,Ms.,Donna,F.,Carreras,NaN,Advanced Bike Components,adventure-works\jillian0,donna0@adventure-works.com,279-555-0130,LNoK27abGQo48gGue3EBV/UrlYSToV0/s87dCRV7uJk=,YTNH5Rw=,{130774B1-DB21-4EF3-98C8-C104BCD6ED6D},2005-09-01 00:00:00
3,4,Ms.,Janet,M.,Gates,NaN,Modular Cycle Systems,adventure-works\jillian0,janet1@adventure-works.com,710-555-0173,ElzTpSNbUW1Ut+L5cWlfR7MF6nBZia8WpmGaQPjLOJA=,nm7D5e4=,{FF862851-1DAA-4044-BE7C-3E85583C054D},2006-07-01 00:00:00
4,5,Mr.,Lucy,NaN,Harrington,NaN,Metropolitan Sports Supply,adventure-works\shu0,lucy0@adventure-works.com,828-555-0186,KJqV15wsX3PG8TS5GSddp6LFFVdd3CoRftZM/tP0+R4=,cNFKU4w=,{83905BDC-6F5E-4F71-B162-C98DA069F38A},2006-09-01 00:00:00

In [39]:
df.drop(['Suffix', 'EmailAddress', 'PasswordSalt', 'PasswordHash', 'rowguid'], inplace= True, axis= 1)

In [40]:
df.head()

,CustomerID,Title,FirstName,MiddleName,LastName,CompanyName,SalesPerson,Phone,ModifiedDate
0,1,Mr.,Orlando,N.,Gee,A Bike Store,adventure-works\pamela0,245-555-0173,2005-08-01 00:00:00
1,2,Mr.,Keith,NaN,Harris,Progressive Sports,adventure-works\david8,170-555-0127,2006-08-01 00:00:00
2,3,Ms.,Donna,F.,Carreras,Advanced Bike Components,adventure-works\jillian0,279-555-0130,2005-09-01 00:00:00
3,4,Ms.,Janet,M.,Gates,Modular Cycle Systems,adventure-works\jillian0,710-555-0173,2006-07-01 00:00:00
4,5,Mr.,Lucy,NaN,Harrington,Metropolitan Sports Supply,adventure-works\shu0,828-555-0186,2006-09-01 00:00:00

In [42]:
df['CompanyName'].count()

np.int64(847)

In [37]:
df['Title'].unique()

array(['Mr.', 'Ms.', nan, 'Sr.', 'Sra.'], dtype=object)

In [38]:
df['Suffix'].unique()

array([nan, 'Jr.', 'IV', 'Sr.', 'II', 'PhD'], dtype=object)